#crewpage-content {
  margin-bottom: 0px;
  /* horizontal division line for mobile view port  */
}
#crewpage-content .carousel-indicators {
  display: inline-block;
  position: absolute;
  top: 655px;
  margin-left: 57px;
}
#crewpage-content .carousel-indicators button {
  border: white 1px solid;
  border-radius: 50%;
  margin-right: 25px;
  width: 15px;
  height: 15px;
  background-color: white;
  mix-blend-mode: normal;
  opacity: 0.17;
}
#crewpage-content .carousel-indicators button.active {
  opacity: 1;
}
#crewpage-content .left-section {
  padding: 56px 106px 169px 75px;
}
#crewpage-content .left-section h4 {
  mix-blend-mode: normal;
  opacity: 0.5;
}
#crewpage-content .left-section h5 {
  margin-bottom: 194px;
}
#crewpage-content .left-section p {
  padding-right: 100px;
}
#crewpage-content .custom-division {
  display: none;
}
#crewpage-content .right-section {
  display: flex;
  align-items: flex-end;
  padding: 44px 47px 0px 55px;
  height: 700px;
}

@media (min-width: 1600px) and (max-width: 1799.98px) {
  #crewpage-content .left-section {
    padding: 36px 86px 149px 55px;
  }
  #crewpage-content .left-section h5 {
    margin-bottom: 174px;
  }
  #crewpage-content .right-section {
    padding: 22px 27px 0px 35px;
    height: 680px;
  }
  #crewpage-content .carousel-indicators {
    margin-left: 37px;
  }
}
@media (min-width: 1400px) and (max-width: 1599.98px) {
  #crewpage-content .left-section {
    padding: 16px 66px 129px 35px;
  }
  #crewpage-content .left-section h5 {
    margin-bottom: 154px;
  }
  #crewpage-content .right-section {
    padding: 2px 7px 0px 15px;
  }
  #crewpage-content .carousel-indicators {
    margin-left: 27px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #crewpage-content .left-section {
    padding: 6px 46px 109px 15px;
  }
  #crewpage-content .left-section h5 {
    margin-bottom: 134px;
  }
  #crewpage-content .left-section p {
    padding-right: 25px;
  }
  #crewpage-content .right-section {
    padding: 0px;
    height: 660px;
  }
  #crewpage-content .right-section img {
    width: 464px;
    height: 560px;
  }
  #crewpage-content .carousel-indicators {
    margin-left: 0px;
    top: 600px;
  }
}
@media (max-width: 1199.98px) {
  #crewpage-content .carousel-indicators {
    position: absolute;
    margin: 0px;
    left: 50%;
    transform: translate(-50%);
  }
  #crewpage-content .left-section h5 {
    margin: 0px;
    position: absolute;
    top: 0%;
  }
  #crewpage-content .left-section p {
    padding: 0px;
  }
  #crewpage-content .right-section {
    display: block;
  }
  #crewpage-content .right-section img {
    width: 422px;
    height: 482px;
  }
}
@media (max-width: 1199.98px) and (min-width: 991.98px) and (max-width: 1199.98px) {
  #crewpage-content .carousel-indicators {
    top: 44%;
  }
  #crewpage-content .carousel-indicators button {
    width: 10px;
    height: 10px;
    margin-right: 20px;
  }
  #crewpage-content .left-section {
    padding: 124px 125px 120px;
    height: 560px;
  }
  #crewpage-content .left-section h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  #crewpage-content .left-section h5 {
    left: 7%;
  }
  #crewpage-content .right-section {
    height: 482px;
    padding: 0px 86px;
  }
}
@media (max-width: 1199.98px) and (max-width: 991.98px) {
  #crewpage-content {
    margin-bottom: 50px;
  }
  #crewpage-content .carousel-indicators {
    top: 46%;
  }
  #crewpage-content .carousel-indicators button {
    width: 25px;
    height: 25px;
    margin-right: 50px;
  }
  #crewpage-content .left-section {
    padding: 120px 50px;
    height: 765px;
  }
  #crewpage-content .left-section h4 {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  #crewpage-content .left-section h5 {
    left: 5%;
  }
  #crewpage-content .custom-division {
    display: block;
    border-color: #383B4B solid 2px;
  }
  #crewpage-content .right-section {
    padding: 100px 100px 0px;
    height: 582px;
  }
  #crewpage-content .custom-grid {
    display: flex;
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=crew.css.map */