// Destination
#destination-content {
  .carousel-indicators {
    width: max-content;
    height: fit-content;
    display: inline;
    margin: 0px;
    position: absolute;
    top: 20%;
    left: 60%;
    & button {
      margin-right:30px;
      padding-bottom: 10px;
      width: fit-content;
      height: fit-content;
      text-indent: 0; 
      font-family: 'BarlowCondensed';
      font-size: 1rem;
      line-height: 1.2rem;
      letter-spacing: 0.2rem;
      color:white;
      background-color: #0d122a;
      &.active{
        border-bottom: white solid 2px;
      }
      &:hover{
        color: #D0D6F9;
        border-bottom: solid 2px;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
  }
  .left-section{
    padding: 36px 85px 42px 140px;
    h5{
      position: relative;
      left: -9%;
      margin-bottom: 97px;
    }
  }
  .right-section{
    padding: 205px 64px 58px 142px;
    hr{
      border-bottom: #383B4B solid 1px;
    }
    p{
      padding-bottom: 54px;
    }
    .distance, .period{
      margin-top: 57px
    }
  }
}

// Size from 1600 to 1800px
@media (min-width: 1600px) and (max-width: 1799.98px) {
  #destination-content{
    .carousel-indicators {
      top: 18%;
      left: 60%;
    }
    .left-section{
      padding: 16px 65px 22px 120px;
      h5{
        left: -7%;
      }
    }
    .right-section{
      padding: 185px 44px 38px 122px;
    }
  }
}

 // Size from 1400px to 1600px
@media (min-width: 1400px) and (max-width: 1599.98px) {
  #destination-content{
    .carousel-indicators {
      top: 16%;
      left: 58%;
    }
    .left-section{
      padding: 16px 45px 2px 100px;
      h5{
        left: -5%;
      }
    }
    .right-section{
      padding: 165px 24px 18px 112px;
    }  
  }
}

// Size from 1200px to 1400px
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #destination-content{
    .carousel-indicators {
      top: 14%;
      left: 56%;
    }
    .left-section{
      padding: 6px 25px 2px 60px;
      h5{
        left: -3%;
        margin-bottom: 77px;
      }
    }
    .right-section{
      padding: 145px 4px 8px 62px;
      height: 595px;
      p{
        padding-bottom: 34px;
      }
      .distance, .period{
        margin-top: 28px
      }
    }  
  }
}

// Size till 1200px
@media (max-width: 1199.98px){
  #destination-content{
    .carousel-indicators{
      left: 50%;
      transform: translate(-50%);
    }
    .left-section{
      h5{
        position:absolute;
        left:2%;
      }
      img{
        width: 300px;
      }
    }
    .right-section{
      p{
        padding-bottom: 49px;
      }
    }
    // Size from 900px to 1200px
    @media (min-width: 992px) and (max-width: 1199.98px){
      .carousel-indicators{
        top: 51%;
        & button{
          margin-right: 20px;
          font-size: 1rem;
          line-height: 1.2rem;
          letter-spacing: 0.2rem;
        }
      }
      .left-section{
        padding: 124px 220px 20px;
        h5{
          top: 4%;
        }
      }
      .right-section{
        padding: 147px 97px 42px;
      }
    }
    // Size till 900px
    @media (max-width: 991.98px){
      .carousel-indicators{
        top: 35%;
        & button{
          margin-right: 50px;
          font-size: 1.4rem;
          line-height: 1rem;
          letter-spacing: 0.3rem;
        }
      }
      .left-section{
        padding: 100px 50px;
        h5{
          top: 0%;
        }
      }
      .right-section{
        height: 960px;
        padding: 100px 50px;
      }
    }
  }
} 




    

