// Home page
#homepage-content {
  margin-bottom: 90px;
  padding-top: 200px;
  .left-section{
    padding: 70px 193px 91px 95px;
    p{
      padding-right: 50px;
    }
  }
  .right-section{
    margin-top: 27px;
    padding: 30px 35px;
    position: relative;
    text-align: center;
    .circle-img{
      padding: 70px;
      &:hover{
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
      }
    }
    .circle-img-text {
      position: absolute;
      color: black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// Size from 1600 to 1800px
@media (min-width: 1600px) and (max-width: 1799.98px) {
  #homepage-content{
    padding-top: 180px;
    .left-section{
      padding: 50px 173px 71px 75px;
    }
    .right-section{
      margin-top: 27px;
      padding: 30px 35px;
    }
  }
}

// Size from 1400px to 1600px
@media (min-width: 1400px) and (max-width: 1599.98px) {
  #homepage-content{
    padding-top: 160px;
    .left-section{
      padding: 20px 153px 51px 55px;
    }
    .right-section{
      margin-top: 7px;
      padding: 10px 35px;
    }
  }
} 

// Size from 1200px to 1400px
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #homepage-content{
    padding-top: 100px;
    .left-section{
      padding: 0px 93px 11px 15px;
    }
    .right-section{
      padding: 5px 5px;
    }
  }
} 

// Size from 900px till 2000px
@media (min-width: 992px) and (max-width: 1199.98px){
  #homepage-content{
    padding-top: 0px;
    .left-section{
      padding: 66px 139px 75px;
      p{
        padding: 0px;
      }
    }
    .right-section{
      padding: 50px 73px;
    }
  }
}

// Size till 900px
@media (max-width: 991.98px){
  #homepage-content{
    padding: 50px;
    .left-section{
      padding: 120px 50px;
      p{
        padding: 0px;
      }
    }
    .right-section{
      padding: 100px 50px;
    }
    @media(-webkit-min-device-pixel-ratio: 2.5){
      .circle-img{
        width: 450px;
        height: 450px;
      }
    }
  }
}




















