body{
  color: white;
}

h1, h2, h3, h4, h6{
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
}

// Heading 1 - Bellefair Regular - 150px
h1{
  font-size: 10rem;
  line-height: 10.7rem;
}

// Heading 2 - Bellefair Regular - 100px
h2{
  font-size: 6.2rem;
  line-height: 7.2rem;
}

// Heading 3 - Bellefair Regular - 56px
h3{
  font-size: 3.5rem;
  line-height: 4rem;
}

// Heading 4 - Bellefair Regular - 32px
h4{
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.2rem;
}

// Heading 5 - Barlow Condensed Regular - 28px - 4.75 Character Space
h5{
  font-family: 'BarlowCondensed';
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.3rem;
} // Subheading 2 - Barlow Condensed Regular - 14px - 2.35 Character Space

// Subheading 1 - Bellefair Regular - 28px
h6{
  font-size: 1.7rem;
  line-height: 2rem;
}

// Body Text
p{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #D0D6F9;
}

.content{
  margin: 60px 0px 100px;
  padding: 0px 130px;
}

// Size from 1200px to 1400px
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .content{
    margin: 70px 0px 80px;
    padding: 0px 110px;
  }
}

// Size from 900px to 1200px
@media (min-width: 992px) and (max-width: 1199.98px){
 .content{
    text-align: center;
    margin: 60px 0px 80px;
    padding: 0px 100px;
  }
}

// Size till 900px
@media (max-width: 991.98px) { 
  .content{
    text-align: center;
    margin: 100px 0px 60px;
    padding: 0px 50px;
    h1{
      font-size: 8rem;
      line-height: 8.2rem;
    }
    h2{
      font-size: 4.5rem;
      line-height: 5rem;
    }
    h3{
      font-size: 2.5rem;
      line-height: 2.75rem;
    }
    h4{
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      line-height:1.8rem;
    }
    h5{
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      line-height:1.4rem;
    }
    p{
      font-size: 1rem;
      line-height:1.8rem;
    }
  }
}










